.search-wrapper {
  position: relative;
  max-width: 500px;
  margin: 0 auto;

  .form-control {
    border-radius: 0.5rem;
  }

  .search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    z-index: 10;
    border-radius: 0.5rem;
    overflow: hidden;

    .list-group-item {
      font-size: $small-font-size;
      cursor: pointer;
    }
  }
}
