* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  background-color: $light;
  color: $dark;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headings-font-family;
  line-height: 1.2;
  color: $dark;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $fw-bold;
}
h2 {
  font-size: $h2-font-size;
  font-weight: $fw-semibold;
}
h3 {
  font-size: $h3-font-size;
  font-weight: $fw-semibold;
}
h4 {
  font-size: $h4-font-size;
  font-weight: $fw-medium;
}
h5 {
  font-size: $h5-font-size;
  font-weight: $fw-medium;
}

.lead {
  font-size: $lead-font-size;
  font-weight: $fw-medium;
}

p {
  font-size: $font-size-base;
  margin-bottom: 1rem;
}

small,
.small {
  font-size: $small-font-size;
}

.btn-link-inherit {
  font-family: inherit !important;
  padding: 0;
  color: $info;
}

.max-w-220 {
  max-width: 220px;

  .guest-display {
    flex: 1;
  }
}

.badge-holidaze {
  background-color: $accent;
  color: $dark;
  font-weight: $fw-semibold;
  align-self: flex-start;
}

.venue-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
