$font-family-sans-serif: 'Source Sans 3', sans-serif;
$headings-font-family: 'Poppins', sans-serif;

$background: #f9f9f7;
$text-dark: #2d2d2d;

$primary: #e0785f;
$secondary: #81b29a;
$accent: #f2cc8f;

$success: #198754;
$danger: #dc3545;
$info: #0d6efd;
$white: #ffffff;

$text-muted: #6c757d;
$border-color: #e0e0e0;

$spacer: 1rem;
